<div>Найти нас можно тут:</div>
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1a3ed764c75c39379c14f96bd9927a45113c66956f14daa13d1b83bdd273e979&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>